

          <h2>Welcome to Ask me</h2>
          <p>Post your error message to receive feedback from your peers.</p>
          <a class="color button dark_button medium" href="#">About Us</a>
          <%= link_to "Join Now", new_user_registration_path, class:"color button dark_button medium" %>

           <%= render 'form' %>

